FLASK_ENV=development
SECRET_KEY=change-me
JWT_SECRET_KEY=change-me-too
DATABASE_URL=postgresql://user:password@localhost:5432/movie_club5
TMDB_API_KEY=e508eb4fac146dc3e426488cec04c238
TMDB_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlNTA4ZWI0ZmFjMTQ2ZGMzZTQyNjQ4OGNlYzA0YzIzOCIsIm5iZiI6MTc4NzU3MDUxMC4zOTEsInN1YiI6IjZhOGMyOTRlZTYzMjFjNTQ2MGRkMDA0ZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.yMGf-zCs0ZXL0WC_qpYuKru0meoFHL4dMOg_-zndnGQ